.detalle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
  text-align: center;

}

.back-btn {
  align-self: flex-start;
  margin-bottom: 20px;
  padding: 8px 16px;
  font-size: 1rem;
  background-color: #d563ca;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #950f78;
}

.detalle-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.detalle-img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

.detalle-content {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
}

.loading {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 50px;
}
