button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  background-color: #6c3f68;
  color: #000000;
  /* font-weight: 500; */
  cursor: pointer;
  /* transition: background-color 0.3s, transform 0.2s; */
}

button:hover { 
  background-color: #891262; 
}