/* Card.css

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 200px;
  padding: 0.5rem;
  cursor: pointer;
  /* transition: transform 0.2s, box-shadow 0.2s; */
/* }



.card img {
  width: 100%;
  border-radius: 8px;
}

.card h4 {
  margin: 0.5rem;
  font-size: 1rem;
  color: #0e7699;
}

.card button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  background-color: #c072b8;
  color: #2c3e50;
  cursor: pointer;
}

.card button:hover { 
  background-color: #891262; 
}

.articulos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}  */

/* .card {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.articulo-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.articulo-title {
  padding: 10px;
  font-size: 1.1rem;
  text-align: center;
} */