.footer {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center; /* centra horizontalmente */
    align-items: center;     /* centra verticalmente */
    height: 35px;  
    width: 100%;
}
.footer>p {
    color: rgb(189, 130, 178);
    font-size: 1rem;
    /* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif */
}