.header {
  width: 100%;
  height: 100px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}


.header-logo {
  font-size: 1.4rem;
  font-weight: bold;
}

/* NAV */
.header-nav {
  display: flex;
  gap: 1.2rem;
}

/* LINKS */
.header-nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
  transition: background 0.2s ease;
}

.header-nav a:hover {
 background-color: #544254;
}

.header-nav a.active {
  background-color: #c50ea3;
}

/* BOTÓN HAMBURGUESA */
.header-toggle {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}


@media (max-width: 768px) {
  .header-toggle {
    display: block;
  }
  .header{
    height: 65px;
  }
  .header-nav {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background-color: #000000;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    display: none;
  }

  .header-nav.open {
    display: flex;
  }
}
