
header {
  width: 100%;
  min-height: 50px;
  background-color: #000000; 
  color: #0e5c6f; 
  padding: 0px 30px;
  top: 0;
  display: flex;
  justify-content: space-between; /* izquierda y derecha */
  align-items: center;  
  z-index: 1000;
  position: sticky;
}

header p {
    font-family: serif;
    color: #84527b;
    justify-content: start;
    font-size: 1.5rem;
}


header nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 25px; /* Espacio entre links */
  flex-wrap: wrap;
}

header nav a {
  color: #73c2d6;
  padding: 5px 10px;
  border-radius: 5px;
}

header nav a:hover{
  background-color: #544254;

}

header nav a.active {
  background-color: #c50ea3;

}
/* @media (max-width: 400px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav a {
    width: 100%;
    padding: 10px;
  }
} */
@media (max-width: 400px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav {
    width: 100%;
    justify-content: flex-start;
  }
}