.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.home-title {
  font-size: 2rem;
  margin-top: 20px;
  text-align: center;
}

.home-subtitle {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center;
}
