
.user-buscar-recetas {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  font-family: 'Arial', sans-serif;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.user-buscar-recetas h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #7e3f64;
}


.user-buscar-recetas form {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
  background-color: #9fdbea;
  padding: 1rem;
  border-radius: 8px;
  align-items: center;
}

/* Inputs y campos numéricos */
.user-buscar-recetas input[type="text"],
.user-buscar-recetas input[type="number"] {
  padding: 8px 12px;
  border: 1px solid #bdc3c7;
  border-radius: 6px;
  font-size: 0.9rem;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.user-buscar-recetas input[type="text"]:focus,
.user-buscar-recetas input[type="number"]:focus {
  border-color: #d917c2;
  outline: none;
}

/* Botón de submit */
.user-buscar-recetas button[type="submit"] {
  padding: 10px 16px;
  background-color: #7e0a75;
  color: #2c3e50;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.user-buscar-recetas button[type="submit"]:hover {
  background-color: #783464;
  transform: scale(1.05);
}

/* Sección de checkboxes */
.user-buscar-recetas .toggle {
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 0.5rem;
}

.user-buscar-recetas .toggle label {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.user-buscar-recetas .toggle input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: center; */
  gap: 0.3rem;
  font-size: 0.9rem;
  cursor: pointer;
}


/* Contenedor de resultados */
.user-buscar-recetas .resultados {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 1rem;
  justify-content: center;
  flex-direction: column;
}

/* Mensaje de carga o error */
.user-buscar-recetas p {
  text-align: center;
  font-weight: 500;
  color: #e74c3c; /* color de error */
}

/* Responsive: en pantallas pequeñas los checkboxes y el form se apilan */
@media (max-width: 768px) {
  .user-buscar-recetas form {
    padding: 0.8rem;
  }

  .user-buscar-recetas .toggle {
    flex-direction: column;
  }
}

